.frist-home-section {
  background-image: url(../../assets/hero/hero-1.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: 80px;
}
.frist-home-section-content {
  padding-top: 150px;
}
.frist-home-section-content h6 {
  margin-bottom: 15px;
}
.frist-home-section-content p {
  margin: 20px 0;
  font-weight: 500;
  color: gray;
  width: 60%;
}
.frist-home-section-content button {
  width: 170px;
  background-color: #e55355;
  border: 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
}
.frist-home-section-content button svg {
  font-size: 16px;
  margin-top: -4px;
}
@media (max-width: 1000px) {
  .frist-home-section-content {
    padding-top: 120px;
  }
  .frist-home-section-content p {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .frist-home-section-content p {
    width: 90%;
  }
}
@media (max-width: 650px) {
  .frist-home-section-content {
    padding-left: 40px !important;
  }
  .frist-home-section-content p {
    width: 90%;
  }
}
/* second section */
.second-home-section {
  margin-bottom: 100px;
}
.second-home-section-content .second-section-item,
.second-home-section-content .first-section-item,
.second-home-section-content .third-section-item {
  position: relative;
}
.second-home-section-content a {
  color: #000;
  letter-spacing: 3px;
  text-decoration: none;
  border-bottom: 2px solid #000;
}
.second-home-section-content .closes-img {
  margin-left: 52%;
}
.second-home-section-content .closes-info {
  position: absolute;
  top: 35%;
  left: 39%;
  margin: auto;
}
.second-home-section-content .glasses-img {
  margin-top: -60px;
}
.second-home-section-content .shoes-info {
  margin-top: -60px;
}
.second-home-section-content .shoes-img {
  margin-left: 50%;
  margin-top: -450px;
}

.second-home-section-content .shoes-info {
  position: absolute;
  top: 55%;
  left: 43%;
  z-index: 1;
}
@media (max-width: 1200px) {
  .second-home-section-content .shoes-img img {
    width: 400px;
    margin-left: 10%;
  }
  .second-home-section-content .glasses-info {
    margin-top: 0px;
  }
}
@media (max-width: 992px) {
  .second-home-section-content .glasses-img {
    margin-top: 60px;
    display: inline-block;
  }

  .second-home-section-content .glasses-info {
    display: inline-block;
    margin-left: 20px;
  }
  .second-home-section-content .shoes-img {
    margin-top: 50px;
  }
}
@media (max-width: 924px) {
  .second-home-section-content .closes-img {
    margin-left: 40%;
  }
  .second-home-section-content .closes-info {
    margin-left: -20%;
  }
  .second-home-section-content .shoes-img {
    margin-left: 270px;
  }
  .second-home-section-content .shoes-info {
    margin-left: -130px;
  }
}
@media (max-width: 768px) {
  .second-home-section-content .closes-img {
    margin-left: 20%;
  }
  .second-home-section-content .closes-info {
    margin-left: -40%;
  }
  .second-home-section-content .glasses-img img {
    width: 400px;
    height: 300px;
  }
  .second-home-section-content .shoes-img {
    margin-left: 90px;
  }
  .second-home-section-content .shoes-info {
    margin-left: -200px;
  }
}
@media (max-width: 601px) {
  .second-home-section-content .first-section-item {
    margin: auto;
    width: 70%;
  }
  .second-home-section-content .closes-img {
    width: 270px;
    height: 300px;
    margin-left: 20px;
  }
  .second-home-section-content .closes-img img {
    width: 270px;
    height: 300px;
  }
  .second-home-section-content .closes-info {
    margin-left: -140px;
  }
  .second-home-section-content .glasses-img img {
    width: 300px;
    height: 300px;
  }
  .second-home-section-content .third-section-item {
    margin: auto;
    width: 70%;
  }
  .second-home-section-content .shoes-img {
    margin-left: 0px;
    width: 270px;
    height: 300px;
  }
  .second-home-section-content .shoes-info {
    margin-left: -145px;
  }
  .second-home-section-content .shoes-img img {
    width: 270px;
    height: 300px;
  }
}
